\#docs/
/_private/
/build/
/debugging/
/evaluations/
/examples/build/bin/
/examples/build/codelite/
/examples/build/vc6/
/examples/build/vc15/
/examples/build/vc17/
/examples/simple_playback_sine.cpp
/external/ogg/
/external/vorbis/
/external/opus/
/external/opusfile/
/extras/osaudio/tests/build/bin/
/extras/osaudio/tests/build/vc17/
/extras/osaudio/tests/build/watcom-dos/
/extras/backends/pipewire/a.out
/extras/decoders/litewav/
/research/_build/
/tests/_build/bin/
/tests/_build/res/output/
/tests/_build/tcc/
/tests/_build/vc6/
/tests/_build/vc15/
/tests/_build/vc17/
/tests/_build/watcom/
/tests/_build/capture.wav
/tests/_build/a.out
/tests/_build/a.exe
/tests/debugging/archive/
/tests/*.c
/tests/*.cpp
/tools/_build/
/website/docs/
*.vcxproj.user
.vs/
.idea/
.vscode/

# Below are individual files that I may start version controlling later or delete outright.
/examples/build/COSMO.txt
/research/ma_fft.c
/research/ma_hrtf.c
/research/ma_atomic.c
/research/miniaudio_engine.c
/tests/stress/
/tools/codegen/miniaudio_amalgamator.c
/tools/codegen/miniaudio_codegen_utils.c
/tools/codegen/miniaudio_docgen.c
/tools/codegen/miniaudio_hrtfgen.c
/tools/codegen/miniaudio_splitter.c