examples/out/
docs/
debugging
tests/x64/
tests/Debug/
tests/Release/
tests/ARM/
tests/bin/
tests/tcc/
!/tests/bin/DO_NOT_DELETE
tests/res/output/
!/tests/res/output/DO_NOT_DELETE
/tests/SDL2.dll
tests/res/private/
tests/private/
examples/bin/
examples/res/private/
/examples/SDL2.dll
*.vcxproj.user
.vs/